* {
    margin: auto;
    padding: 0%;
}

body {
    background-color: #cfecf7;
}

.container {
    margin-top: 310px;
}

.btn {
    background-color: #e5acb6;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: #cc99a2;
}

.btn {
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#ribbon {
    height: 100px;
    width: 100px;
}

.background {
    background-color: #f6eee3;
}

.letter {
    padding-top: 75px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
    text-align: justify;
}

span {
    color: #f6eee3;
}

#letterContainer {
    display: none;
}